:root {
  --font-heading: 'League Spartan', sans-serif !important;
  --font-body: 'Inter', sans-serif !important;

  }

/* Heading styles */
h1,
h2,
h3,
.heading {
  font-family: var(--font-heading) !important;
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* Body styles */
body {
  overflow-x: hidden;
  font-family: var(--font-body) !important;
  font-display: swap;
  color: var(--color-text);
  line-height: 1.6;
  background-color: #fff;
}

p,
span,
.text {
  font-family: var(--font-body) !important;
  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}
